.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px -3px black;
    padding: 0px 70px;
    background:  #01265B;
    color: white;
    box-sizing: border-box;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 105px;
    height: 65px;
    border:1px solid transparent;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.active{
    border-bottom:2px solid #ED6222;
    border-width: 80%;
    transform: scale(1.3);
    color: white;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-login-cart button{
    width: 130px;
    height: 35px;
    outline: none;
    border:2px solid #ED6222;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    background:  #01265B;

}
.nav-login-cart button:active{
    color:black;
    background:  rgba(1, 38, 91, 0.5);

}
.nav-login-cart img{
    width: 35px;
}
.nav-cart-count{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -40px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-dropdown{
    display: none;
}

/* -------- media query---------- */
@media(max-width:900px){
    .nav{
        padding: 0px 40px;
    }
    .nav-menu{
        gap: 15px;
    }
}

@media(max-width:750px){
    .nav{
        padding: 0px 20px;
    }
    .nav-login-cart{
        gap: 15px;
    }
    .nav-dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    } 
    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: #515151;
        justify-content: center;
        top:100px;
        /* top: 60px; */
        left: 0;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
    .nav-cart-count{
        margin-left: -25px;
    }
}

@media(max-width:500px){
    .nav{
        padding: 0px 15px;
    }

    .nav-logo img{
        width: 30px;
    }
    .nav-logo p{
        font-size: 18px;
    }
    .nav-menu-visible{
        height: 70px;
        top: 60px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    } 
    .nav-login-cart{
        gap: 10px;
    }
}
